.pixelify-sans-title {
                  font-family: "Pixelify Sans", sans-serif;
                  font-optical-sizing: auto;
                  font-weight: 700;
                  font-style: normal;
                }

.pixelify-sans-title h1 {
  font-size: 8rem;
}
