.titlefy {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.titlefy h1 {
  font-size: 15rem;
}

:root {
  --perspective: 1800px;
  --item_nums: 8; /* no of items */
  --radius: 800px
}

.scene{
  width: 100%;
  height: 100vh;
  text-align: center;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: var(--perspective);
}

.scene .rotation{
  position: absolute;
  width: 550px;
  height: 800px;
  top: 30%;
  left: calc(50% - 50px);
  transform-style: preserve-3d;
  animation: autoRun 20s linear infinite;
}

@keyframes autoRun {
  from{
    transform: perspective(var(--perspective)) rotate3d(0, 0, 0, 0deg);
  } to {
  transform: perspective(var(--perspective)) rotate3d(0, 1, 0, 360deg);
      }
}

.scene .rotation .item{
  position: absolute;
  inset: 0;
  transform: rotateY(calc((var(--i) - 1) * (360 / var(--item_nums)) * 1deg)) translateZ(var(--radius));
}

.scene .rotation .item img{
  width: 100%;
  height: 100%;
  object-fit: fill;
}

